*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "segoe ui";
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:400px;
    max-height: 400px;
    margin: auto;
    flex-flow: row wrap;
}
div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    padding: 10px;
}
.png{
    overflow: hidden;
}
.png img{
    width: 300px;
}
h1{
    font-size: 30px;
    text-align: center;
}
p{
    font-size: larger;
}
.resendemail{
    margin-top: 10px;
}
a:link{
    color: orange;
}
a:visited{
    color: green;
}
@media(min-width: 600px){
    div{
        max-width: 400px;
    }
}