<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/404.css">
    <title>404 PAGE NOT FOUND</title>
</head>
<body>
    <div>
        <h2>
            Ooops..
        </h2>
        <h1>
            4<span>0</span>4
        </h1>
        <p>
           Error Page Not Found
        </p>
        <p>
            <a href="">
                Go Back To Home
            </a>
        </p>
    </div>
</body>
</html>