<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/admin/find_user" method="POST" enctype="application/x-www-form-urlencoded">
        <input type="search" name="search" id="search">
        <button type="submit">search</button>
    </form>
    <% if(data.user){%>
        <form action="/admin/status" method="POST" enctype="application/x-www-form-urlencoded">
        <input type="text" readonly value="<%= data.user %>  " name="name">
        <label for="checkboxes">
            deactivated
            <input type="radio" disabled readonly name="status" <% if(!data.activated){%>
                checked
           <% } %>  >
        </label>
        <label for="checkboxes">
            activated
            <input type="radio" disabled readonly name="status" <% if(data.activated){%>
                checked
            <%} %>  >
        </label>
        <button type = 'submit'>change</button>
    </form>
   <% } %> 
</body>
</html>