<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/forgotpassword.css">
    <title>Forgot Password</title>
</head>
<body>
    <div class="contained">
        <div class="contain" style="background-color: white; margin-top: 10px; padding: 20px 10px;">
            <% if(data.msg){%>
                <p style="padding: 10px;color: red; text-align: center;"><%= data.msg %> </p>
            <%} %> 
            <h2>
                Change your account password
            </h2>
            <form action="/user/change_password" method="post" enctype="application/x-www-form-urlencoded">
                <label for="">
                    <p>
                        Enter Old Password
                    </p>
                    <input type="password" name="old" required>
                </label>
                <label for="">
                    <p>
                        Enter New Password
                    </p>
                    <input type="password" name="password" required>
                </label>
                <label for="">
                    <p>
                        Confirm New Password
                    </p>
                    <input type="password" name="rePassword" required>
                </label>
                <button type="submit" style="display: block; margin: auto;">
                   Reset Password
                </button>
            </form>
        </div>
    </div>
    
</body>
</html>