<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/forgotpassword.css">
    <title>Forgot Password</title>
</head>
<body>
    <form class="contained" action="/user/forgot_enterMail" method="POST" enctype="application/x-www-form-urlencoded">
        
        <div class="contain">
            <h2>
                Reset your account password
            </h2>
            <p>
                Please enter your email address:
            </p>
            <input type="email" name="email" required>
            <button type="submit" style="display: block; margin: auto;">
                Send password reset link
            </button>
            <% if(data.msg){%>
            <p style="color: red; background-color: white; padding: 10px; text-align: center; font-size: 10px; font-weight: 300;"><%= data.msg %> </p>
            
            <%} %>
        </div>
    </form>
    
</body>
</html>