<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <form action="/register" method="POST" enctype="application/x-www-form-urlencoded">
        <input type="text" name="name" placeholder="name">
        <input type="password" name="password" placeholder="password">
        <input type="email" name="email" placeholder="E-mail">
        <input type="text" name="username" placeholder="username">
        <input type="text" name="reffered" placeholder="reffered by">
        <input type="number" name="phone_number" placeholder="mobile number">
        <button type="submit">submit</button>
    </form>
</body>
</html>