<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/forgotpassword.css">
    <title>Forgot Password</title>
</head>
<body>
    <div class="contained">
        <div class="contain">
            <h2>
                Reset your account password
            </h2>
            <form action="/user/change_password" method="POST" enctype="application/x-www-form-urlencoded" >
                <% if(data.msg){%>
                    <p style="color: red; background-color: white; padding: 10px; text-align: center;"><%= data.msg %> </p>
                    
                <%} %> 
                <label for="">
                    <p>
                        Enter New Password
                    </p>
                    <input type="password" name="password">
                </label>
                <label for="">
                    <p>
                        Confirm New Password
                    </p>
                    <input type="password" name="rePassword">
                </label>
                <button type="submit" style="display: block; margin: auto;">
                    Reset Password
                </button>
            </form>
            
        </div>
    </div>
    
</body>
</html>